{% extends 'base.html' %}
{% block main %}
{% for tipo,flash in get_flashed_messages('info') %}
{{flash}}
{% endfor %}

<ul>
    {% for jogador in jogadores %}
    <li style="{{'color:red;' if jogador==me else '' }}" >
        {{jogador}} - ${{jogadores[jogador]}}
    </li>
    {% endfor %}
</ul>
<form action="/novo_jogador" method="post" {{'id="form"'|safe if me else ''}} >
    <div class="form-group">
        <label for="nome">Nome: </label>
        <input type="text" name="nome" id="nome" style="text-transform: lowercase;" >
        {% if me %}
            <button id="confirm">Entrar</button>
        {%else%}
            <input type="submit" value="Entrar" id="submit">
        {% endif %}
    </div>
</form>

<form action="/start" method="post">
    <input type="submit" value="START GAME">
</form>

<script>
    {% if me %}
    const form = document.getElementById("form");
    const input_nome = document.getElementById('nome')

    
    const confirm = function(event) {
            event.preventDefault();
            let btn_confirm = document.getElementById("confirm")
            if (input_nome.value.trim()==="") {
                alert("nome não pode ser vazion")
            } 
            input_nome.value = input_nome.value.toLocaleLowerCase()
            if(
                window.confirm(
                    'Vc está on como "{{me}}", deseja substituir por "'+input_nome.value+'"?'
                    )
            ){
                event.target.submit()
                btn_confirm.style.display = 'none'
                confirmed=true;
            }else{
                location.reload()
            }
    }
    // attach event listener
    form.addEventListener("submit", confirm, true);

    {% endif %}

</script>


{% endblock %}