{% extends 'base.html' %}
{% block main %}
{% for tipo,flash in get_flashed_messages('info') %}
{{flash}}
{% endfor %}

<div id="app">
    <ul>
        {% for jogador in jogadores %}
        <li style="{{'color:red;' if jogador==me else '' }}">
            {{jogador.name}} - ${{'%.2f' % jogador.cash}} </li>
        {% endfor %}
    </ul>
    <h4>pagar:</h4>


    <form action="/pagar" method="post">
        <select name="pagador" id="" v-model="opt1">
            <option v-for="opt in options" :key="index" :value="opt.value">
                @{opt.text}
            </option>

        </select>
        <select name="recebedor" id="" v-model="opt2">
            <option v-for="opt in options2" :key="index" :value="opt.value" >
                @{opt.text}
            </option>
        </select>
        <input type="number" name="valor" id="" value="500">
        <input type="submit" value="pagar">
    </form>

    <form action="/end" method="post">
        <input type="submit" value="END GAME">
    </form>
</div>
<script>
    const App = {
        data() {
            return {
                jogadores: {{ jogadores | safe }},
                opt2: "",
                opt1: "",
            }
        },
    computed: {
        options() {
            lista = this.jogadores.map(
                (j) => {
                        return {
                            value: j.id,
                            text: j.name
                        }
                    
                })
            return lista
        },
        options2(){
            return this.options.filter(
                (op)=>{
                    return op.value!=this.opt1
                })
        }
    }
    }
    const app = Vue.createApp(App)
    app.config.compilerOptions.delimiters = ['@{', '}']

    app.mount("#app")
</script>


{% endblock %}